@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&family=Open+Sans:wght@300;400&family=Tenali+Ramakrishna&display=swap');
html {
	box-sizing: border-box;
}
div{
  line-height: 1;
}

img {
    max-width: 50%;
}  
#logo{
  height: 65px;
  padding: 5px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h2{
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 3em;
  margin: 0 auto;
}

h1{
    font-family: 'David Libre', serif;;
    color: white;
    font-size: 3em;
}
h3{
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 2em;
    margin: 0 auto; 
}

body{
    background: #C2CFB2;
    margin: 20px 0px 0px 0px;
    font-family: 'Open Sans', sans-serif;
}

header, main, .center{
    max-width: 1080px;
    margin: auto;
    text-align: center;
}

nav ul{
    text-align: right;
}
nav li{
    display: inline-block;
    margin: 5px 10px;
}
nav a:link, nav a:visited{
    color: #4B4A67;
    text-decoration: none;
    border-top: 15px solid yellow transparent;
    transition: .5s;
}
nav a:hover{
    border-top: 5px solid yellow;
}
nav a:active{
    border-top: 15px solid yellow;
}

header img{
    float: left;
}

header{
    padding: 5px 2%;
}

#top-image{
    background: url("/lesson3/lesson3_imgs/noaa-0ETSZYPjvDo-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    padding: 5px 2%;
}

#top-image2{
    background: url("/lesson3/lesson3_imgs/noaa-0ETSZYPjvDo-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    padding: 5px 2%;
}

#top-image3{
    background: url("/lesson3/lesson3_imgs/noaa-0ETSZYPjvDo-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    padding: 5px 2%;
}

#top-image4{
    background: url("/lesson3/lesson3_imgs/noaa-0ETSZYPjvDo-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    padding: 5px 2%;
}

#top-image .center{
    padding: 170px 2%;
}
#top-image2 .center{
    padding: 170px 2%; 
}
#top-image3 .center{
    padding: 170px 2%; 
}
#top-image4 .center{
    padding: 170px 2%; 
}

#top-image4 .center p, #top-image4 .center h1,
#top-image3 .center p, #top-image3 .center h1,
#top-image2 .center p, #top-image2 .center h1,
#top-image .center p, #top-image .center h1{
    color: white;
    text-shadow: 2px 2px 3px black;
    margin: 0px;
    max-width: 700px;
    text-align: center;
}

.slider{
    background-color: #8DB580;
    padding: 10px 10px 10px 10px;
}

.slider .text-banner{
    padding: 90px 0%;
}

.slider .text-banner p {
    background: rgba(7,	22,	46, 0.5) ;
    text-align: center;
    padding: 10px 100px 10px 100px;
    color: white;
    text-shadow: 2px 2px 3px black;
    position: relative;
    bottom: -106px;
}
.slider img {
    padding: 1em;
}

.row{
    font-size: 0px;
}
.row > *{
    font-size: 1rem;
}

.twothird{
    margin: 2%;
    vertical-align: top;
}
.onethird{
    padding: 2em;
}

table, th, td {
    padding: 10px;
    margin: 0 auto;
    border: solid 2px white;
}
table {
    font-family: 'Open Sans', sans-serif;
    border-spacing: 2px;
    margin: 0 auto;
}
th{
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 200%;
    margin: 0 auto;
    color: white;
}

.blurb h2 span{
    display: block;
    font-size: .75em;
    font-weight: normal;
}
.blurb h2{
    margin: 0px;
}
.blurb.dark{
    background: #07162E;
    color: #ffffff;
    padding: 20px;
}

footer{
    background-color: #4B4A67;
    color: #C2CFB2;
    padding: 10px;
    text-align: center;
}
footer a:link,footer a:visited{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: yellow;
}

.onethird ol{
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.one{
    background-color: #C2CFB2;
}
.two{
    background-color: #8DB580;
    color: white;
}
.three{
    background-color: yellow;
}
.four{
    background-color: white;
}
.five{
    background-color: #4B4A67;
    color: white;
}


@media screen and (max-width: 980px){
    .onethird, .twothird{
        width: 100%;
        margin: 0px;
    }
    
    header{
        padding: 5px 5%;
    }
    
    .row{
        padding: 0px 5%;
    }
    
    .blurb{
        margin: 20px 0px;
    }
    
    #top-image4 .center p, #top-image4 .center h1,
    #top-image3 .center p, #top-image3 .center h1,
    #top-image2 .center p, #top-image2 .center h1,
    #top-image .center p, #top-image .center h1{
        padding: 0px 5%;
    }

    table, th, td {
        text-align: center;
        padding: 5px;
        margin: 0 auto;
    }
    table {
        display: table;
        border-collapse: separate;
        box-sizing: border-box;
        margin: 0 auto;
    }
    th{
        font-family: 'Tenali Ramakrishna', sans-serif;
        font-size: 100%;
    }
}

nav label, #toggle{
    display: none;
}

@media screen and (max-width: 980px){
header img{
    float: none;
}
header, nav ul{
    text-align: center;
}
nav ul{
    padding: 0px;
    background-color: #8DB580;
    color: #C2CFB2;
}
nav li{
    display: block;
    padding: 5px 0px;
    margin: 0px;
}
#toggle{
    display: none;
}
#toggle:checked ~ #menu{
    display: block;
}
#toggle:not(:checked) ~ #menu{
    display: none;
}


nav label{
    background: #4B4A67;
    color: #C2CFB2;
    display: block;
    padding: 10px 0px;
}

nav a:link, nav a:visited{
    color: #462749;
    border-top: 5px solid transparent;
    transition: .5s;
}

nav li:hover{
    background: #C2CFB2;
}
nav li:hover a{
    color: #4B4A67;
}

nav li:active a{
    text-decoration: underline;
}

#menu{
    margin: 0px 0px 20px 0px;
}

table, th, td {
    margin-top: 10px;
    text-align: center;
    padding: 5px;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 1px;
}
th{
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 150%;
}
}