@media only screen and (max-width: 980px){
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Titillium+Web:wght@300&display=swap');

body {
	background-color: white;
	font-family: 'Titillium Web', sans-serif;
}

header {
	background-color: #330038;
	padding: 8px;
	position: fixed;
	top: 0;
	left: 0;
    width: 100%;
}

h1 {
	font-size: 2.5rem;
	margin: 0.15rem;
	font-family: 'Bree Serif', serif;
	text-align: center;
	color:white;
}

.lessons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 50px 60px 300px;
}

h2 {
	font-family: 'Bree Serif', serif;
	font-size: 1.5rem;
	text-align: left;
	border-bottom: 10px double #330038;
	grid-row: 3/4;
	grid-column: 1/3;
	margin: 0.15rem;
    height: 50px;
    padding: 2px;
}

ul {
	text-align: left;
	color: #000000;
	grid-row: 3/4;
	grid-column: 1/2;
	align-self: center;
}

footer {
	background-color: #330038;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #ffffff;
	padding: 8px;
}

.footerInfo {
	display: flex;
	align-content: center;
	justify-content: center;
}

img {
	grid-row: 3/4;
	grid-column: 3/4;
	z-index: 1;
	width: 450px;
}

#byuLink {
	align-self: center;
	color: white;
	padding-left: 4px;
}

#year {
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}

.lastModified {
	color: yellowgreen;
	justify-content: center;
	font-size: 11px;
	display: flex;

}
}