@media only screen and (min-width: 64rem) {
    nav ul li a{
        padding: .6rem 1rem;
    }
    body {
        margin-right: 10rem;
        margin-left: 10rem;
    }
    main h1 {
        text-align: left;
        margin-left: 1em;
    }

    .grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 200px 200px 200px;
        grid-gap: 5rem;
      }
}