@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&family=Open+Sans:wght@300;400&family=Tenali+Ramakrishna&display=swap');
body {
    background-color: #C2CFB2;
    padding: 0;
    margin: 0;
}

header {
	background-color:white;
	padding: 10px 0;
	display: flex;
	align-items: left;
	justify-content: right;
}
main h1{
    font-family: 'David Libre', serif;
    color: #4B4A67;
}

#top-image{
    background: url("/lesson3/lesson3_imgs/noaa-0ETSZYPjvDo-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    padding: 5px 2%;
}


header img {
	width: 60px;
	height: auto;
}
.headings {
	display: flex;
	flex-direction: column;
}
.headings h1 {
	font-family: 'David Libre', serif;
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.fun {
    font-style: italic;
    letter-spacing: 1pt;
    color: forestgreen;
    margin-left: 20px;
    font-size: .9rem;
}

.navigation{
    background-color: #4B4A67;
}
nav ul{
    text-align: center;
}
nav li{
    display: inline-block;
    margin: 10px 10px;
}
nav label, #toggle{
    display: none;
}

h1 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  h3 {
    margin-top: 0;
    font-weight: 300;
  }
  
  .container {
    width: 40em;
    margin: 10px auto;
  }
  
  .ac-label {
    font-weight: 700;
    position: relative;
    padding: .5em 1em;
    margin-bottom: .5em;
    display: block;
    cursor: pointer;
    background-color: whiteSmoke;
    transition: background-color .15s ease-in-out;
  }
  
  .ac-input:checked + label, .ac-label:hover {
    background-color: #999;
  }
  
  .ac-label:after, .ac-input:checked + .ac-label:after {
    content: "+";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 2em;
    height: 100%;
    line-height: 2.25em;
    text-align: center;
    background-color: #e5e5e5;
    transition: background-color .15s ease-in-out;
  }
  
  .ac-label:hover:after, .ac-input:checked + .ac-label:after {
    background-color: #b5b5b5;
  }
  
  .ac-input:checked + .ac-label:after {
    content: "-";
  }
  
  .ac-input {
    display: none;
  }
  
  .ac-text, .ac-sub-text {
    opacity: 0;
    height: 0;
    margin-bottom: .5em;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
  }
  
  .ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text { 
    opacity: 1;
    height: auto;
  }
  
  .ac-sub .ac-label {
    background: none;
    font-weight: 600;
    padding: .5em 2em;
    margin-bottom: 0;
  }
  
  .ac-sub .ac-label:checked {
    background: none;
    border-bottom: 1px solid whitesmoke;
  }
  
  .ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after {
    left: 0;
    background: none;
  }
  
  .ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
    background: none;
  }
  
  .ac-sub-text {
    padding: 0 1em 0 2em;
  }








footer{
    background-color: #4B4A67;
    color: #C2CFB2;
    padding: 10px;
    text-align: center;
}

/*links*/
nav a:link, nav a:visited{
    color: #C2CFB2;
    text-decoration: none;
    border-top: 15px solid transparent;
    transition: .5s;
}
nav a:hover{
    border-bottom: 5px solid yellow;
}
nav a:active{
    border-top: 15px solid yellow;
}