@media only screen and (min-width: 64rem) {
    body {
        margin-right: 20px;
        margin-left: 20px;
    }
    nav ul li a{
        padding: .6rem 1rem;
    }
      
      .topleft {
        background-color: rgba(141, 181, 128, 0.9);
        position: absolute;
        top: 5em;
        left: 4em;
        padding: .5em;
        color: white;
      }

    .topleft h3{
        font-family: 'David Libre', serif;
        font-size: 40px;
        margin: 1em;
    }
    .topleft ul{
        list-style: none;
        font-family: 'Tenali Ramakrishna', sans-serif;
        font-size: 35px;
    }
      
      .container img { 
        width: 100%;
    }

    .flex-container1 h3{
        font-size: 40px;
    }

    .flex-container2 h3{
        font-size: 40px;
    }
    .wrap img{
        width: 500px;
    }
    .wrap p{
        font-size: 35px;
    }

    .flex-container3{
        flex-wrap: nowrap;
    }
    .flex-container3 h3{
        font-size: 40px;
    }
    .contact{
        margin-right: 0;
        margin-left: 5em;
    }
    .contact>ul{
        margin-right: 0;
        font-size: 30px;
    }
    .contact-img img{
        width: 575px;
        height: auto;
    }
}