@media only screen and (max-width: 1280px){
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    
    .flex-container>div {
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }
    
    .weather{
        max-width: 100%;
        margin: auto;
        height: auto;
    }
    .summary{
        margin-right: 500px;
    }
    .weather h3{
        font-family: 'David Libre', serif;
        font-size: 40px;
    }
    .weather p{
        font-family: 'Tenali Ramakrishna', sans-serif;
        font-size: 30px;
        align-items: left;
    }

    .flex-container3 h3{
        font-family: 'David Libre', serif;
        font-size: 40px;
        color:#8DB580;
    }
    .contact-img img{
        float: left;
        margin: 60px;
        width: 400px;
        height: auto;
    }
    .contact{
        margin-right: 250px;
    }
    .contact>div {
        margin: 10px;
        padding: 5px;
        font-size: 30px;
    }
    .contact>ul{
        font-size: 30px;
        color: white;
        list-style: square inside;
    }
    .contact>.social{
        display: flex;
        flex-wrap: nowrap;
    }
}