@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&family=Open+Sans:wght@300;400&family=Tenali+Ramakrishna&display=swap');

body {
    background-color: #C2CFB2;
    padding: 0;
    margin: 0;
}
header {
    background-color: white;
    padding: 10px 0;
    display: flex;
    align-items: left;
    justify-content: right;
}
main h1 {
    font-family: 'David Libre', serif;
    font-size: 3rem;
    color: #4B4A67;
    margin: 0;
    padding: 10px;
}

header img {
    width: 60px;
    height: auto;
}
.headings {
    display: flex;
    flex-direction: column;
}
.headings h2 {
    color: #4B4A67;
    font-family: 'David Libre', serif;
    font-size: 2.5rem;
    margin: 0 0 0 17px;
}

.fun {
    font-style: italic;
    letter-spacing: 1pt;
    color: #8DB580;
    margin-left: 20px;
    font-size: .9rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
}
.flex-container>div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.weather{
    background: url(/lesson4/imgs/noaa-0ETSZYPjvDo-unsplash.jpg) no-repeat center fixed;
    background-size: cover;
    max-width: 100%;
    margin: auto;
    height: auto;
}
.summary{
    margin: 1em;
    margin-right: 50px;
}
.weather h3{
    font-family: 'David Libre', serif;
    font-size: 30px;
    color: white;
}
.weather p{
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 20px;
    color: white;
    align-items: left;
}

footer {
    background-color: #4B4A67;
    color: #C2CFB2;
    padding: 10px;
    text-align: center;
}

.flex-container1{
    background-color: #8DB580;
}
.flex-container1 h3{
	margin: 1em;
    font-family: 'David Libre', serif;
    font-size: 30px;
    color:#4B4A67;
}
.five {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.five>div {
    margin: 10px;
    padding: 5px;
    font-size: 30px;
}
.five img{
    width: 100%;
    height: auto;
}

.flex-container2{
    background-color: white;
}
.flex-container2 h3{
	font-family: 'David Libre', serif;
	margin: 1em;
	font-size: 30px;
    color:#4B4A67;
}
.wrap {
    display: flex;
    flex-direction: column;
}
.wrap>div {
    margin: 10px;
    padding: 5px;
    font-size: 30px;
}
.wrap img{
	padding: 10px;
    float: right;
    width: 300px;
    height: auto;
}
.wrap p{
	margin: 1em;
	font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 20px;
    color: #4B4A67;
}

.flex-container3{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    background-color: #4B4A67;
}
.flex-container3 h3{
    font-family: 'David Libre', serif;
    font-size: 30px;
    color:#8DB580;
}
.contact-img img{
	margin: .5em;
    width: 400px;
    height: auto;
}
.contact{
    margin: .25em;
}
.contact>div {
    margin: 10px;
    padding: 5px;
    font-size: 30px;
}
.contact>ul{
    font-size: 20px;
    color: white;
    list-style: square inside;
}
.social img{
	margin: .15em;
    width: 80px;
    height: auto;
}


html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    font-size: 1.6rem;
	color: #C2CFB2;
	font-family: 'David Libre', serif;
}
nav{
    background-color: #4B4A67;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li{
	font-family: 'David Libre', serif;
	font-size: 1rem;
}
nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #C2CFB2;
    border-top: solid rgba(0, 0, 0, 0.3);
}
nav ul li a:hover{
	background-color:  #8DB580;
	color: #4B4A67;
}

nav ul.hide{
    display: none;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }