@media only screen and (max-width: 980px){
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&family=Open+Sans:wght@300;400&family=Tenali+Ramakrishna&display=swap');
	header {
		align-items: center;
		justify-content: center;
	}
	.headings h1 {
		font-size: 1.6rem;
	}
	main h1 {
		margin: 0;
		padding: 10px;
		font-size: 2rem;
	}

	.summary{
		margin-right: 200px;
	}
	.weather h3{
		font-size: 20px;
	}
	.weather p{
		font-size: 15px;
	}

	.flex-container1 h3{
		font-size: 30px;
	}
	
	.five>div {
		margin: 10px;
		padding: 5px;
		font-size: 30px;
	}
	.five img{
		width: 50px;
		height: auto;
	}

	.flex-container2 h3{
		font-size: 30px;
		color: #4B4A67;
	}
	.wrap p{
		font-size: 1rem;
		color: #4B4A67;
	}

	.flex-container3 h3{
		font-size: 20px;
	}
	.contact-img img{
		margin: 30px;
		width: 200px;
		height: auto;
	}
	.contact{
		margin-right: 50px;
	}
	.contact>div {
		margin: 5px;
		padding: 2.5px;
		font-size: 30px;
	}
	.contact>ul{
		flex-wrap: nowrap;
		font-size: 15px;
		color: white;
		list-style: square inside;
	}
	.contact>.social img{
		margin: 5px;
		width: 40px;
		height: auto;
	}
	.contact>.social{
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	
	#toggle{
		display: none;
	}
	#toggle:checked ~ #menu{
		display: block;
	}
	#toggle:not(:checked) ~ #menu{
		display: none;
	}
	nav ul{
		padding: 0;
		background-color: #8DB580;
	}
	nav li{
		font-size: 20px;
		display: block;
		padding: 5px 0px;
		margin: 0px;
	}
	nav label{
		font-size: 25px;
		text-align: center;
		font-family: 'David Libre', serif;
		background: #4B4A67;
		color: #C2CFB2;
		display: block;
		padding: 10px 0px;
	}
	nav a:link, nav a:visited{
		color: #C2CFB2;
		border-bottom: 5px solid transparent;
		transition: .5s;
	}
	nav li:hover{
		background: yellow;
	}
	nav li:hover a{
		color: #4B4A67;
		border-top: 5px solid transparent;
	}
	nav li:active a{
		text-decoration: underline;
	}
	#menu{
		margin: 0px 0px 20px 0px;
	}
}