@media only screen and (min-width: 35rem) {

    nav button{
        display: none;
    }
    nav ul.hide{
        display: block;
    }
    nav ul{
        margin-left: 2%;
    }
    nav ul li{
        float: left;
        font-size: 1rem;
    }
    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }

    .title{
        top: 7em;
        left: 8em;
    }
    .title h3{
        font-size: 1.5em;
    }

    .entry2 {
        margin: .5rem auto;
        background-color: #8DB580;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .entry2 h2{
        text-align: center;
        font-family: 'David Libre', serif;
        font-size: 2.5em;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        color: white;
    }

    .cards{
        display: grid;
        padding: 20px;
        border-radius: 2px;
    }

    .entry2 section{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 50px);
        background-color: white;
        padding: 0;
        padding-bottom: 20px;
        border-radius: 2px;
        border: solid 2px #4B4A67;
    }
    
    .entry2 section h2{
        grid-column: 1;
        grid-row: 1;
        margin: 0;
        margin-top: 20px;
        font-family: 'David Libre', serif;
        font-size: 2.5em;
        color: #4B4A67;
    }
    .entry2 section h4{
        grid-column: 1;
        grid-row: 2;
        font-family: 'David Libre', serif;
        font-size: 1em;
        font-style: italic;
        color: #8DB580;
    }
    .entry2 section p{
        grid-column: 1;
        font-family: 'Tenali Ramakrishna', sans-serif;
        font-size: 1.5em;
        color: #4B4A67;
    }
    
    .entry2 section img{
        margin: 0;
        margin-top: 10px;
        grid-column: 2;
        grid-row: 1;
        width: 65%;
        border-radius: 2px;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .entry2 section:nth-child(even) img{
        grid-column: 1;
        grid-row: 1;
    }

    .entry2 section:nth-child(even) p{
        grid-column: 2;
    }

    .entry2 section:nth-child(even) h2{
        grid-column: 2;
        grid-row: 1;
    }

    .entry2 section:nth-child(even) h4{
        grid-column: 2;
        grid-row: 2;
    }



    .flex-container3 h3{
        font-size: 35px;
    }
    .contact{
        margin: .15em;
    }
    .contact>div {
        margin: 5px;
        padding: 0;
        font-size: 35px;
    }
    .contact>ul{
        font-size: 25px;
        color: white;
        list-style: none;
    }
    .contact-img img{
        margin: .1em;
        width: 525px;
        height: auto;
    }
    .social img{
        width: 60px;
    }

}