@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
main{
    margin: 10px;
}
table, th, td {
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid grey;
    font-family: 'Ubuntu', sans-serif;
  }
  th, td {
    text-align: center;
  }
  .friday{
      font-style: italic;
  }
  .drop{
    background-color: #628ca6;
    color: white;
  }

  #t01 tr:nth-child(even) {
    background-color: #e7ffed;
  }
  #t01 tr:nth-child(odd) {
    background-color: #e7f0ed;
  }
  #t01 th.heading{
    font-weight: bold;
    font-size: 25px;
    background-color: #7fb9c2;
    color: black;
  }
  #t01 th{
    background-color: #628ca6;
    color: white;
  }
  #t01 tr.footer {
    background-color: #7fb9c2;
    font-size: 10px;
  }