@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&family=Open+Sans:wght@300;400&family=Tenali+Ramakrishna&display=swap');

body {
    background-color: #C2CFB2;
    padding: 0;
    margin: 0;
}
header {
    background-color: white;
    padding: 10px 0;
    display: flex;
    align-items: left;
    justify-content: right;
}
main h1 {
    font-family: 'David Libre', serif;
    font-size: 2rem;
    color: #4B4A67;
    margin: 0;
    margin-top: 1rem;
    padding: 10px;
    text-align: center;
}

header img {
    width: 60px;
    height: auto;
    margin-left: 10px;
}
.headings {
    display: flex;
    flex-direction: column;
}
.headings h2 {
    color: #4B4A67;
    font-family: 'David Libre', serif;
    font-size: 2.5rem;
    margin: 0 0 0 17px;
}

.fun {
    font-style: italic;
    letter-spacing: 1pt;
    color: #8DB580;
    margin-left: 20px;
    font-size: .9rem;
}

.place > .entry1 {
    border-radius: 5px;
    padding: 1em;
    margin: 0;
    color: #4B4A67;
    font-family: 'David Libre', serif;
}

.place > .entry2 {
    border-radius: 5px;
    padding: .5em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
}

.place > .entry3 {
    border-radius: 5px;
    background-color: white;
    padding: 1em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
}

.place > .entry4 {
    border-radius: 5px;
    background-color: #4B4A67;
    padding: 1em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
    color: #4B4A67;
}

.hero-ph{
    margin: 0;
    background: url(/lesson5/imgs/pexels-ming-sun-814449.jpg);
    background-size: cover;
    width: 47%;
    height: 300px;
    float: left;
}

.herodiv{
    margin: 0;
    position: relative;
    width: 960px;
    height: 300px;
}
.weathersummary{
    color: white;
    position: absolute;
    top: 20px;
    left: 10px;
    background-color:rgba(141, 181, 128, 0.7);
    padding: 1.5rem;
    box-shadow: 5px 5px 5px #4B4A67;
}
.weathersummary h3{
    font-family: 'David Libre', serif;
    font-size: 25px;
    margin: 0;
    margin-top: 10px;
    text-decoration: underline;
}
.weathersummary p{
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 25px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}
.weathersummary p span{
    color: yellow;
}
.entry2{
    display: none;
}

.flex-container2{
    display: flex;
    flex-direction: column;
}
.wrap h3{
    margin: 0;
    padding: 0;
    font-family: 'David Libre', serif;
    margin-top: .5em;
	margin-left: .75em;
	font-size: 30px;
    color:#4B4A67;
}
.wrap h4{
    margin: 0;
    padding: 0;
    margin-top: .5em;
    font-family: 'David Libre', serif;
	margin-left: 1.5em;
	font-size: 15px;
    color: #8DB580;
}
.wrap>div {
    margin: 10px;
    padding: 5px;
    font-size: 30px;
}
.flex-container2 img{
    width: 400px;
    height: auto;
    margin-left: 1rem;
}
.wrap p{
    margin: .5rem;
    margin-top: 1rem;
	font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 20px;
    color: #4B4A67;
}

.flex-container3{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    background-color: #4B4A67;
}
.flex-container3 h3{
    font-family: 'David Libre', serif;
    font-size: 30px;
    color:#8DB580;
}
.contact-img img{
	margin: .5em;
    width: 400px;
    height: auto;
}
.contact{
    margin: .25em;
}
.contact>div {
    margin: 10px;
    padding: 5px;
    font-size: 30px;
}
.contact>ul{
    list-style: none;
    font-size: 20px;
    color: white;
}
.social img{
	margin: .15rem;
    width: 3rem;
    height: auto;
}
.contact ul li img{
    margin: .15rem;
    margin-right: .5rem;
    width: 1rem;
    height: auto;
}

footer {
    background-color: #4B4A67;
    color: #C2CFB2;
    padding: 10px;
    text-align: center;
}

#pancakes{
    text-align: center;
    background-color: yellow;
    padding: 10px;
    font-family: 'David Libre', serif;
    font-size: 1.6rem;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    font-size: 1.6rem;
	color: #C2CFB2;
	font-family: 'David Libre', serif;
}
nav{
    background-color: #4B4A67;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li{
	font-family: 'David Libre', serif;
	font-size: 1rem;
}
nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #C2CFB2;
    border-top: solid rgba(0, 0, 0, 0.3);
}
nav ul li a:hover{
	background-color:  #8DB580;
	color: #4B4A67;
}

nav ul.hide{
    display: none;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  nav ul li.active a:link{
    background-color: #32314e;
}