@media only screen and (min-width: 64rem) {
    nav ul li a{
        padding: .6rem 1rem;
    }
    body {
        margin-right: 10rem;
        margin-left: 10rem;
    }
    main h1 {
        text-align: left;
        margin-left: 1em;
    }

    .title{
        top: 10em;
        left: 4.5em;
    }
    .title h3{
        font-size: 3em;
    }

    .entry2 {
        margin: .5rem auto;
        background-color: #8DB580;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .entry2 h2{
        text-align: center;
        font-family: 'David Libre', serif;
        font-size: 2.5em;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        color: white;
    }
    
    .cards{
        display: grid;
        grid-template-columns: repeat(3, auto);
        text-align: center;
        grid-gap: 20px;
        padding: 20px;
        border-radius: 2px;
    }
    
    .entry2 section{
        display: unset;
        background-color: white;
        padding: 0;
        padding-bottom: 20px;
        border-radius: 2px;
        border: solid 2px #4B4A67;
    }
    
    .entry2 section h2{
        margin: 0;
        margin-top: 20px;
        font-family: 'David Libre', serif;
        font-size: 2.5em;
        color: #4B4A67;
    }
    .entry2 section h4{
        margin: 0;
        margin-bottom: 20px;
        font-family: 'David Libre', serif;
        font-size: 1em;
        font-style: italic;
        color: #8DB580;
    }
    .entry2 section p{
        margin: 0;
        margin-right: 20px;
        margin-left: 20px;
        font-family: 'Tenali Ramakrishna', sans-serif;
        font-size: 1.5em;
        color: #4B4A67;
    }
    
    .entry2 section img{
        width: 50%;
        border-radius: 2px;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .flex-container2{
        display: flex;
        flex-direction: column;
    }
    .wrap h3{
        margin: 0;
        padding: 0;
        font-family: 'David Libre', serif;
        margin-top: .5em;
        margin-left: .25em;
        font-size: 30px;
        color:#4B4A67;
    }
    .wrap h4{
        margin: 0;
        padding: 0;
        margin-top: .5em;
        margin-left: .5em;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }
    .flex-container2>div {
        margin: 10px;
        padding: 5px;
        font-size: 30px;
    }
    .flex-container2 img{
        width: 400px;
        height: auto;
        margin: 10px;
        float: right;
    }
    .wrap p{
        margin: .5rem;
        margin-top: 1rem;
        font-family: 'Tenali Ramakrishna', sans-serif;
        font-size: 20px;
        color: #4B4A67;
    }

    .flex-container3{
        flex-wrap: nowrap;
    }
    .flex-container3 h3{
        font-size: 40px;
        margin-left: 1em;
    }
    .contact>ul{
        list-style: none;
        font-size: 25px;
    }
    #map {
        width:85%;
        height:auto;
        margin-bottom: 20px;
    }
    .contact{
        margin: 0;
        margin-right: 3em;
    }
}