body {
    background-color: #3B7080;
    padding: 0;
    margin: 0;
}
header {
    background-image: url("/Final/imgs/amanda-phung-1w2xsyc2wwI-unsplash\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: 100% 150%;
    padding: 10px 0;
    display: flex;
    align-items: left;
    justify-content: right;
}

header img {
    width: 60px;
    height: auto;
    margin-left: 10px;
}
.headings {
    display: flex;
    flex-direction: column;
}
.headings h2 {
    padding: 10px;
    color: #ADE250;
    background-color: rgba(58, 87, 67, 0.6);
    border-radius: 3px;
    font-family: 'Crete Round', serif;
    font-size: 2.5rem;
    margin: 0 0 0 17px;
}

.place > .entry2 {
    border-radius: 5px;
    padding: .5em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
}
.place > .entry2-3 {
    border-radius: 5px;
    padding: .5em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
}
.place > .entry3 {
    border-radius: 5px;
    background-color: rgba(58, 87, 67);
    padding: 1em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
}
.place > .entry4 {
    border-radius: 5px;
    background-color: rgba(58, 87, 67);
    padding: 1em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
}

.herodiv{
    margin: 10px;
    position: relative;
    margin-bottom: 20px;
}
#hero {
    width:98%;
    height:auto;
    margin: 0 1%;
    border-radius: 3px;
}


.title{
    color: #ADE250;
    position: absolute;
    top: 2em;
    left: 3em;
    background-color:rgba(58, 87, 67, 0.8);
    padding: 1.5rem;
    border-radius: 3px;
}
.title h3{
    color: #ADE250;
    font-family: 'Crete Round', serif;
    font-size: 1.5em;
    margin: 0;
    margin-top: 10px;
}
.title p{
    color: #FCEC52;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75em;
    margin: 0;
    margin-top: 10px;
}

.entry2 {
    margin: .5rem auto;
    background-color: rgba(58, 87, 67);
}
.entry2 .info h2.rentaltitle{
    text-align: center;
    font-family: 'Crete Round', serif;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    color: #ADE250;
}


.entry2 .cards section{
    background-color: #CFFFB3;
    padding: 0;
    padding-bottom: 20px;
    border-radius: 2px;
    border: dashed 2px #ADE250;
}
.cards{
    display: grid;
    text-align: center;
    grid-gap: 20px;
    padding: 30px;
    border-radius: 2px;
}
.entry2 .cards section h2{
    margin: 0;
    margin-top: 20px;
    font-family: 'Crete Round', serif;
    font-size: 1.5em;
    color: rgba(58, 87, 67);
}
.entry2 .cards section h4{
    margin: 10px;
    font-family: 'Crete Round', serif;
    font-size: 1em;
    font-style: italic;
    color: #3B7080;
}
.entry2 .cards section img{
    width: 75%;
    border-radius: 2px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
}
.entry2 .cards section p{
    font-family: "Open Sans", sans-serif;
}

.entry2-3 {
    margin: .5rem auto;
    background-color: rgba(58, 87, 67);
}
.entry2-3 h3{
    text-align: center;
    font-family: 'Crete Round', serif;
    font-size: 2em;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    color: #ADE250;
}
.entry2-3 .contactus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.entry2-3 .contactus h2{
    text-align: center;
    font-family: 'Crete Round', serif;
    font-size: 1em;
    padding: 10px;
    margin: 0;
    margin-top: 10px;
    color: rgba(58, 87, 67);
}
.entry2-3 .contactus>div{
    background-color: #CFFFB3;
    border-radius: 3px;
    border: dashed 1px #ADE250; 
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}
.entry2-3 .contactus ul{
    margin-right: 20px;
    text-align: left;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;
    color: #3B7080;
}
.entry2-3 .contactus ul li img{
    width: 20px;
    margin-right: 10px;
}
.entry2-3 .contactus .social img{
    background-color: rgba(58, 87, 67);
}

.entry3 h3{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Crete Round', serif;
    font-size: 30px;
    color:#ADE250;
}
table{
    width: 100%;
}
table, th{
    border: 1px solid #FCEC52;
    border-collapse: collapse;
    background-color: #CFFFB3;
}
th{
    height: 35px;
    font-size: 15px;
    font-family: 'Crete Round', serif;
    color: #3B7080;
    background-color: #FCEC52;
}
td{
    border-right: 1px solid #FCEC52;
    text-align: center;
}
td span{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #3B7080;
}
td img{
    width: 50px;
}
td #image{
    font-family: 'Open Sans', sans-serif;
    font-size: 5px;
    color: #3B7080;
}
td #image2{
    font-family: 'Open Sans', sans-serif;
    font-size: 5px;
    color: #3B7080;
}
td #image3{
    font-family: 'Open Sans', sans-serif;
    font-size: 5px;
    color: #3B7080;
}

.flex-container2{
    display: flex;
    flex-direction: column;
}
.wrap h3{
    margin: 0;
    padding: 0;
    font-family: 'Crete Round', serif;
    margin-top: .5em;
	margin-left: .25em;
	font-size: 30px;
    color: #ADE250;
}
.wrap>div {
    margin: 10px;
    padding: 5px;
    font-size: 30px;
}
.flex-container2 img{
    width: 100%;
    height: auto;
}
#image {
    width: 98%;
    height:auto;
    margin: 0 1%;
    margin-bottom: 5px;
}
.wrap p{
    margin: .5rem;
    margin-top: 1rem;
    margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #FCEC52;
}


footer {
    font-family: 'Open Sans', sans-serif;
    background-color: #ADE25D;
    color: #3a5743;
    padding: 10px;
    text-align: center;
}
footer a:link, footer a:visited{
    text-decoration: none;
    color: #3B7080;
}
footer a:hover{
    color: #FCEc52;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    font-size: 1.6rem;
	color: #3a5743;
	font-family: 'Crete Round', serif;
}
nav{
    background-color: #ADE250;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li{
	font-family: 'Crete Round', serif;
	font-size: 1rem;
}
nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #3a5743;
    border-top: solid rgba(252, 236, 82, 0.3);
}
nav ul li a:hover{
	background-color: #FCEc52;
	color: #ADE25D;
}

nav ul.hide{
    display: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  nav ul li.active a:link{
    background-color: #CFFFB3;
}