@media only screen and (min-width: 64rem) {
    nav ul li a{
        padding: .6rem 1rem;
    }
    body {
        margin-right: 5rem;
        margin-left: 5rem;
    }
    main h1 {
        text-align: left;
        margin-left: 1em;
    }

    .title{
        top: 10em;
        left: 2em;
        right: 2em;
    }
    .title h3{
        font-size: 3em;
    }
    .title p{
        font-size: 1.5em;
    }

    .entry2 {
        margin: .5rem auto;
    }    
    .entry2 h2{
        text-align: center;
        font-size: 2.5em;
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }   
    .cards{
        display: grid;
        grid-template-columns: repeat(3, auto);
        text-align: center;
        grid-gap: 20px;
        padding: 20px;
        border-radius: 2px;
    }   
    .entry2 section{
        display: unset;
        padding: 0;
        padding-bottom: 20px;
    }
    .entry2 section h2{
        margin: 0;
        margin-top: 20px;
        font-size: 2.5em;
    }
    .entry2 section h4{
        margin: 0;
        margin-bottom: 20px;
        font-size: 1em;
        font-style: italic;
    }
    .entry2 section img{
        width: 75%;
        border-radius: 2px;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .entry3{
        display: block;
    }
    .entry3 h3{
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
        font-size: 30px;
    }
    table{
        width: 100%;
    }
    table, th{
        border-collapse: collapse;
    }
    th{
        height: 70px;
        font-size: 30px;
    }
    td{
        text-align: center;
    }
    td span{
        font-size: 20px;
    }
    td img{
        width: 100px;
        margin: 10px;
    }
    td #image{
        font-size: 5px;
    }
    td #image2{
        font-size: 5px;
    }
    td #image3{
        font-size: 5px;
    }
}