body {
    background-color: #3B7080;
    padding: 0;
    margin: 0;
}
header {
    background-image: url("/Final/imgs/amanda-phung-1w2xsyc2wwI-unsplash\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: 100% 150%;
    padding: 10px 0;
    display: flex;
    align-items: left;
    justify-content: right;
}
main h1 {
    font-family: 'Crete Round', serif;
    font-size: 2rem;
    color: #4B4A67;
    margin: 0;
    margin-top: 1rem;
    padding: 10px;
    text-align: center;
}

header img {
    width: 60px;
    height: auto;
    margin-left: 10px;
}
.headings {
    display: flex;
    flex-direction: column;
}
.headings h2 {
    padding: 10px;
    color: #ADE250;
    background-color: rgba(58, 87, 67, 0.6);
    border-radius: 3px;
    font-family: 'Crete Round', serif;
    font-size: 2.5rem;
    margin: 0 0 0 17px;
}

.place > .entry2 {
    border-radius: 5px;
    padding: .5em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
}
.place > .entry3 {
    border-radius: 5px;
    background-color: rgba(58, 87, 67);
    padding: 1em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
}
.place > .entry4 {
    border-radius: 5px;
    background-color: #4B4A67;
    padding: 1em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
    color: #4B4A67;
}

.herodiv{
    margin: 10px;
    position: relative;
    margin-bottom: 20px;
}
#hero {
    width:98%;
    height:auto;
    margin: 0 1%;
    border-radius: 3px;
}


.title{
    color: #ADE250;
    position: absolute;
    top: 4em;
    left: 3em;
    background-color:rgba(58, 87, 67, 0.8);
    padding: 1.5rem;
    border-radius: 3px;
}
.title h3{
    color: #ADE250;
    font-family: 'Crete Round', serif;
    font-size: 1.5em;
    margin: 0;
    margin-top: 10px;
}
.title p{
    color: #FCEC52;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75em;
    margin: 0;
    margin-top: 10px;
}

.entry2 {
    margin: .5rem auto;
    background-color: rgba(58, 87, 67);
}
.entry2 .rentalinfo h2{
    text-align: center;
    font-family: 'Crete Round', serif;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    color: #ADE250;
}

.entry2 .rentalinfo ul{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #FCEC52;
}
.entry2 .rentalinfo li{
    margin: 10px;
}
.entry2 .info h2.rentaltitle{
    text-align: center;
    font-family: 'Crete Round', serif;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    color: #ADE250;
}


.entry2 .cards section{
    background-color: #CFFFB3;
    padding: 0;
    padding-bottom: 20px;
    border-radius: 2px;
    border: dashed 2px #ADE250;
}
.cards{
    display: grid;
    text-align: center;
    grid-gap: 20px;
    padding: 30px;
    border-radius: 2px;
}
.entry2 .cards section h2{
    margin: 0;
    margin-top: 20px;
    font-family: 'Crete Round', serif;
    font-size: 2.5em;
    color: rgba(58, 87, 67);
}
.entry2 .cards section h4{
    margin: 10px;
    font-family: 'Crete Round', serif;
    font-size: 1em;
    font-style: italic;
    color: #3B7080;
}
.entry2 .cards section img{
    width: 75%;
    border-radius: 2px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.entry3{
    display: none;
}

.flex-container2{
    display: flex;
    flex-direction: column;
}
.wrap h3{
    margin: 0;
    padding: 0;
    font-family: 'Crete Round', serif;
    margin-top: .5em;
	margin-left: .75em;
	font-size: 30px;
    color:#4B4A67;
}
.wrap h4{
    margin: 0;
    padding: 0;
    margin-top: .5em;
    font-family: 'Crete Round', serif;
	margin-left: 1.5em;
	font-size: 15px;
    color: #8DB580;
}
.wrap>div {
    margin: 10px;
    padding: 5px;
    font-size: 30px;
}
.flex-container2 img{
    width: 100%;
    height: auto;
}
#article {
    width:98%;
    height:auto;
    margin: 0 1%;
    margin-bottom: 20px;
}
.wrap p{
    margin: .5rem;
    margin-top: 1rem;
	font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #4B4A67;
}

.flex-container3{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    background-color: #4B4A67;
}
.flex-container3 h3{
    font-family: 'Crete Round', serif;
    font-size: 25px;
    color:#8DB580;
}
#map {
    width:98%;
    height:auto;
}
.contact>div {
    font-size: 15px;
}
.contact>ul{
    list-style: none;
    font-size: 15px;
    color: white;
}
.contact ul li img{
    margin: .15rem;
    margin-right: .5rem;
    width: 1rem;
    height: auto;
}
.social img{
	margin: .15rem;
    width: 3rem;
    height: auto;
}


footer {
    background-color: #4B4A67;
    color: #C2CFB2;
    padding: 10px;
    text-align: center;
}

#pancakes{
    text-align: center;
    background-color: yellow;
    padding: 10px;
    font-family: 'David Libre', serif;
    font-size: 1.6rem;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    font-size: 1.6rem;
	color: #3a5743;
	font-family: 'Crete Round', serif;
}
nav{
    background-color: #ADE250;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li{
	font-family: 'Crete Round', serif;
	font-size: 1rem;
}
nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #3a5743;
    border-top: solid rgba(252, 236, 82, 0.3);
}
nav ul li a:hover{
	background-color: #FCEc52;
	color: #ADE25D;
}

nav ul.hide{
    display: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  nav ul li.active a:link{
    background-color: #CFFFB3;
}