@media only screen and (min-width: 35rem) {

    nav button{
        display: none;
    }
    nav ul.hide{
        display: block;
    }
    nav ul{
        margin-left: 2%;
    }
    nav ul li{
        float: left;
        font-size: 1rem;
    }
    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }

    .title{
        top: 7em;
        left: 8em;
    }
    .title h3{
        font-size: 1.5em;
    }


    .entry3{
        display: block;
    }
    .entry3 h3{
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
        font-family: 'Crete Round', serif;
        font-size: 30px;
        color:#ADE250;
    }
    table{
        width: 100%;
    }
    table, th{
        border: 1px solid #FCEC52;
        border-collapse: collapse;
        background-color: #CFFFB3;
    }
    th{
        height: 50px;
        font-size: 20px;
        font-family: 'Crete Round', serif;
        color: #3B7080;
        background-color: #FCEC52;
    }
    td{
        border-right: 1px solid #FCEC52;
        text-align: center;
        padding: 10px;
    }
    td span{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #3B7080;
    }
    td img{
        width: 75px;
    }
    td #image{
        font-family: 'Open Sans', sans-serif;
        font-size: 5px;
        color: #3B7080;
    }
    td #image2{
        font-family: 'Open Sans', sans-serif;
        font-size: 5px;
        color: #3B7080;
    }
    td #image3{
        font-family: 'Open Sans', sans-serif;
        font-size: 5px;
        color: #3B7080;
    }

}