@media only screen and (min-width: 35rem) {

    nav button{
        display: none;
    }
    nav ul.hide{
        display: block;
    }
    nav ul{
        margin-left: 2%;
    }
    nav ul li{
        float: left;
        font-size: 1rem;
    }
    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }

    .title{
        text-align: center;
        top: 7em;
        left: 8em;
    }
    .title h3{
        font-size: 1.5em;
    }


    .entry3 h3{
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
        font-family: 'Crete Round', serif;
        font-size: 30px;
        color:#ADE250;
    }
    table{
        width: 100%;
    }
    table, th{
        border: 1px solid #FCEC52;
        border-collapse: collapse;
        background-color: #CFFFB3;
    }
    th{
        height: 70px;
        font-size: 30px;
        font-family: 'Crete Round', serif;
        color: #3B7080;
        background-color: #FCEC52;
    }
    td{
        border-right: 1px solid #FCEC52;
        text-align: center;
        padding: 10px;
    }
    td span{
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        color: #3B7080;
    }
    td img{
        width: 100px;
        margin: 10px;
    }
    td #image{
        font-family: 'Open Sans', sans-serif;
        font-size: 5px;
        color: #3B7080;
    }
    td #image2{
        font-family: 'Open Sans', sans-serif;
        font-size: 5px;
        color: #3B7080;
    }
    td #image3{
        font-family: 'Open Sans', sans-serif;
        font-size: 5px;
        color: #3B7080;
    }

    .entry2-2 {
        margin: .5rem auto;
        background-color: rgba(58, 87, 67);
    }
    .entry2-2 .rentalinfo ul{
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        color: #FCEC52;
    }
    .entry2-2 .rentalinfo li{
        margin: 10px;
    }
    .entry2-2 .info h2.rentaltitle{
        text-align: center;
        font-family: 'Crete Round', serif;
        font-size: 2.5em;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        color: #ADE250;
    }
    
    .entry2-2 table.rentaltable{
        width: 100%;
    }
    table.rentaltable, table.rentaltable th{
        border: 1px solid #FCEC52;
        border-collapse: collapse;
        background-color: #CFFFB3;
    }
    table.rentaltable th{
        height: 70px;
        font-size: 25px;
        font-family: 'Crete Round', serif;
        color: #3B7080;
        background-color: #FCEC52;
    }
    table.rentaltable td{
        border-right: 1px solid #FCEC52;
        border-bottom: 1px solid #FCEC52;
        text-align: center;
        padding: 10px;
    }
    table.rentaltable td span{
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        color: #3B7080;
    }
    table.rentaltable td span.tabletitle{
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: #3B7080;
    }
    table td span.image img{
        width: 75%;
    }
    table td span.image2 img{
        width: 75%;
    }
    table td span.image3 img{
        width: 75%;
    }
    table td span.image4 img{
        width: 75%;
    }
    table td span.image5 img{
        width: 75%;
    }
    table td span.image6 img{
        width: 75%;
    }

    #image1 {
        width: 30%;
        height:auto;
        margin: 1%;
        border-radius: 3px;
        float: left;
    }
    #image2 {
        width:30%;
        height:auto;
        margin: 1%;
        border-radius: 3px;
        float: right;
    }
    #image3 {
        width:35%;
        height:auto;
        margin: 1%;
        border-radius: 3px;
        float: left;
    }
}