body {
    background-color: #3B7080;
    padding: 0;
    margin: 0;
}
header {
    background-image: url("/Final/imgs/amanda-phung-1w2xsyc2wwI-unsplash\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: 100% 150%;
    padding: 10px 0;
    display: flex;
    justify-content: right;
}
main h1{
    color: #ADE250;
    font-family: 'Crete Round', serif;
    font-size: 1.5em;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}
main p{
    color: #FCEC52;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

header img {
    width: 60px;
    height: auto;
    margin-left: 10px;
}
.headings {
    display: flex;
    flex-direction: column;
}
.headings h2 {
    padding: 10px;
    color: #ADE250;
    background-color: rgba(58, 87, 67, 0.6);
    border-radius: 3px;
    font-family: 'Crete Round', serif;
    font-size: 2.5rem;
    margin: 0 0 0 17px;
}

.place > .entry1-2 {
    border-radius: 5px;
    padding: .5em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
}
.place > .entry2 {
    border-radius: 5px;
    padding: .5em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
}
.place > .entry2-2 {
    border-radius: 5px;
    padding: .5em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
}
.place > .entry3 {
    border-radius: 5px;
    background-color: rgba(58, 87, 67);
    padding: 1em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
}
.place > .entry4 {
    border-radius: 5px;
    background-color: #4B4A67;
    padding: 1em;
    margin: 5px;
    margin-right: 1em;
    margin-left: 1em;
    color: #4B4A67;
}

.herodiv{
    margin: 10px;
    position: relative;
    margin-bottom: 20px;
}
#hero {
    width:98%;
    height:auto;
    margin: 1%;
    border-radius: 3px;
}
#image1 {
    width: 65%;
    height:auto;
    margin: 1%;
    border-radius: 3px;
    float: right;
}
#image2 {
    width:65%;
    height:auto;
    margin: 1%;
    border-radius: 3px;
    float: right;
}
#image3 {
    width:65%;
    height:auto;
    margin: 1%;
    border-radius: 3px;
    float: right;
}


.title{
    color: #ADE250;
    position: absolute;
    top: 4em;
    left: 3em;
    background-color:rgba(58, 87, 67, 0.8);
    padding: 1.5rem;
    border-radius: 3px;
}
.title h3{
    color: #ADE250;
    font-family: 'Crete Round', serif;
    font-size: 1.5em;
    margin: 0;
    margin-top: 10px;
}
.title p{
    color: #FCEC52;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75em;
    margin: 0;
    margin-top: 10px;
}

form fieldset{
    background-color:rgba(58, 87, 67, 0.8);
    border: dashed 1px #ADE250;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend{
    font-family: 'Crete Round', serif;
    font-size: 2rem;
    color: #ADE250;
    padding: 0 .5rem;
}
form label.top, form div{
    font-family: 'Open Sans', sans-serif;
    display: block;
    padding-top: 1rem;
    color: #FCEC52;
    font-size: 1rem;
}
form label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: dashed 1px #ADE250;
    border-radius: 4px;
    padding: .75rem;
    background-color: #CFFFB3;
    width: 100%;
    max-width: 20rem;
}
form label.sbs{
    font-family: 'Open Sans', sans-serif;
    display: block;
    padding: .75rem 0;
    color: #4B4A67;
}
form input.submitBtn{
    border: none;
    font-family: "Crete Round", serif;
    background-color: #ADE250;
    color: rgba(58, 87, 67);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 10px;
    width: 96%;
    max-width: 20rem;
}
form label.top input{
    margin-top: 10px;
    background-color: #CFFFB3;
}
form label.top input:required{
    border-left: red solid 6px;
}
form label.top input:required:valid{
    border-left: green solid 6px;
}
textarea{
    background-color: #CFFFB3;
    margin-top: 10px;
    width: 100%;
    height: auto;
}


.entry2 {
    margin: .5rem auto;
    background-color: rgba(58, 87, 67);
}
.entry2 .rentalinfo h2{
    text-align: center;
    font-family: 'Crete Round', serif;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    color: #ADE250;
}
.entry2 .rentalinfo h4{
    text-align: center;
    font-family: 'Crete Round', serif;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    color: #ADE250;
}
.entry2 .rentalinfo div.activity{
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #FCEC52;
}
.entry2 .rentalinfo li{
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #FCEC52;
}
.entry2 .rentalinfo ul.funactivity{
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #FCEC52;
}
.entry2 .rentalinfo ul.funactivity li a:link, .entry2 .rentalinfo ul.funactivity li a:visited{
    color: #FCEC52;
}
.entry2 .rentalinfo ul.funactivity li a:hover{
    color: #3B7080;
}
.entry2 .rentalinfo div.history p{
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #FCEC52;
}
.entry2 .info h2.rentaltitle{
    text-align: center;
    font-family: 'Crete Round', serif;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    color: #ADE250;
}
.entry2 .cards section{
    background-color: #CFFFB3;
    padding: 0;
    padding-bottom: 20px;
    border-radius: 2px;
    border: dashed 2px #ADE250;
}
.cards{
    display: grid;
    text-align: center;
    grid-gap: 20px;
    padding: 30px;
    border-radius: 2px;
}
.entry2 .cards section h2{
    margin: 0;
    margin-top: 20px;
    font-family: 'Crete Round', serif;
    font-size: 1.5em;
    color: rgba(58, 87, 67);
}
.entry2 .cards section h4{
    margin: 10px;
    font-family: 'Crete Round', serif;
    font-size: 1em;
    font-style: italic;
    color: #3B7080;
}
.entry2 .cards section img{
    width: 75%;
    border-radius: 2px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.entry2 .cards section p{
    color: rgba(58, 87, 67);
}
.entry2 h3{
    text-align: center;
    font-family: 'Crete Round', serif;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    color: #ADE250;
}
.entry2 .contactus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.entry2 .contactus h2{
    text-align: center;
    font-family: 'Crete Round', serif;
    font-size: 1.5em;
    padding: 10px;
    margin: 0;
    margin-top: 10px;
    color: rgba(58, 87, 67);
}
.entry2 .contactus>div{
    background-color: #CFFFB3;
    border-radius: 3px;
    border: dashed 1px #ADE250; 
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}
.entry2 .contactus ul{
    margin-right: 20px;
    text-align: left;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #3B7080;
}
.entry2 .contactus ul li img{
    width: 25px;
}
.entry2 .contactus .social img{
    background-color: rgba(58, 87, 67);
}

.entry2-2 {
    margin: .5rem auto;
    background-color: rgba(58, 87, 67);
}
.entry2-2 .rentalinfo ul{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #FCEC52;
}
.entry2-2 .rentalinfo li{
    margin: 10px;
}
.entry2-2 .info h2.rentaltitle{
    text-align: center;
    font-family: 'Crete Round', serif;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    color: #ADE250;
}
.entry2-2 table.rentaltable{
    width: 100%;
}
table.rentaltable, table.rentaltable th{
    border: 1px solid #FCEC52;
    border-collapse: collapse;
    background-color: #CFFFB3;
}
table.rentaltable th{
    height: 35px;
    font-size: 15px;
    font-family: 'Crete Round', serif;
    color: #3B7080;
    background-color: #FCEC52;
}
table.rentaltable td{
    border-right: 1px solid #FCEC52;
    border-bottom: 1px solid #FCEC52;
    text-align: center;
}
table.rentaltable td span{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #3B7080;
}
table.rentaltable td span.tabletitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #3B7080;
}
tr:nth-child(even){
    background-color: #ADE250;
}


footer {
    font-family: 'Open Sans', sans-serif;
    background-color: #ADE25D;
    color: #3a5743;
    padding: 10px;
    text-align: center;
}
footer a:link, footer a:visited{
    text-decoration: none;
    color: #3B7080;
}
footer a:hover{
    color: #FCEc52;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    font-size: 1.6rem;
	color: #3a5743;
	font-family: 'Crete Round', serif;
}
nav{
    background-color: #ADE250;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li{
	font-family: 'Crete Round', serif;
	font-size: 1rem;
}
nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #3a5743;
    border-top: solid rgba(252, 236, 82, 0.3);
}
nav ul li a:hover{
	background-color: #FCEc52;
	color: #ADE25D;
}

nav ul.hide{
    display: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  nav ul li.active a:link{
    background-color: #CFFFB3;
}